@model GiftViewModel


<h1 class="bg-red-500 text-xl">Gift - @ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Gifts" asp-action="@ViewData["Title"]" method="post">
            <div class="form-group flex mb-6">
                <div class="flex w-1/2">
                    <div class="w-1/3">
                        <label asp-for="Title" class="control-label"></label>
                    </div>
                    <div class="w-2/3">
                        <input type="text" asp-f asp-for="Title" class="form-control" />
                    </div>
                </div>
                <div class="flex w-1/2">
                    <div class="w-1/3">
                        <label asp-for="Priority" class="control-label"></label>
                    </div>
                    <div class="w-2/3">
                        <input type="number" asp-for="Priority" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group flex mb-6">
                    <div class="w-1/5">
                        <label asp-for="Description" class="control-label"></label>
                    </div>
                    <div class="w-4/5">
                        <textarea type="text" asp-for="Description" class="form-control"></textarea>
                    </div>
            </div>
            <div class="form-group flex mb-6">
                <div class="flex w-1/2">
                    <div class="w-1/3">
                        <label asp-for="Url" class="control-label"></label>
                    </div>
                    <div class="w-2/3">
                        <input type="text" asp-for="Url" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group flex mb-6">
                <div class="flex w-1/2">
                    <div class="w-1/3">
                        <label asp-for="UserId" class="control-label"></label>
                    </div>
                    <div class="w-2/3">
                        <select asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))" class="form-control">
                            <option>Users</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="btn-gray">Save</button>
            <a class="btn-gray" asp-action="Index">Cancel</a>
            <div class="text-2xl text-red-700" asp-validation-summary="All"></div>
        </form>
    </div>
</div>
