@model GiftViewModel

<div class="form-content">
    <div class="form-section">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-input" type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-section">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-input" type="text" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-section-2">
        <label class="form-label" asp-for="Url"></label>
        <input class="form-input" type="text" asp-for="Url" />
        <span asp-validation-for="Url"></span>
    </div>
    <div class="form-section-2">
        <label class="form-label" asp-for="Priority"></label>
        <input class="form-input" type="text" asp-for="Priority" />
        <span asp-validation-for="Priority"></span>
    </div>
    <div class="form-section">
        <label class="form-label" asp-for="UserId"></label>
        <select class="form-input" asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))">
            <option>Please select one</option>
        </select>
    </div>
    <div class="form-controls">
        <button class="form-btn-save">Save</button>
        <a class="form-btn-cancel" asp-controller="Gifts" asp-action="Index">Cancel</a>
    </div>
</div>
