@model GiftViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gift</h4>
<hr />
<form asp-controller="Gifts" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>:
        <input type="text" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>:
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Url"></label>:
        <input type="text" asp-for="Url" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Priority"></label>:
        <input type="text" asp-for="Priority" />
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <button>Create</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>