@model GiftViewModel
@{
    ViewData["Title"] = "Gift - Edit";
}

<form asp-controller="Gifts" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
</form>