@model List<GiftViewModel>
@{
    ViewData["Title"] = "Gifts";
}

@{int counter = 0;}

<div class="tilelist">
    @foreach (var giftViewModel in Model)
    {
        <div class="tilelist-item">
            <div class="tilelist-item-label">
                <a class="" asp-action="Edit" asp-route-id=@giftViewModel.Id>
                    @giftViewModel.Title
                </a>
            </div>
            <div class="tilelist-item-controls">
                <form class="list-btn-delete" asp-action="Delete" asp-route-id=@giftViewModel.Id method="post">
                    <button onclick="return confirm('Are you sure you would like to delete @giftViewModel.Title ?')">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
            @{counter++;}
        </div>
    }
</div>
<div class="list-controls">
    <a class="list-btn-create" asp-action="Create">Create <i class="fas fa-plus"></i></a>
</div>