@model List<GiftViewModel>
@{
    ViewData["Title"] = "Gifts";
}

@{int counter = 0;}

<div class="tilelist">
    @foreach (var groupViewModel in Model)
    {
        <div class="tilelist-item">
            <div class="tilelist-item-label">
                @groupViewModel.Title
            </div>
            <div class="tilelist-item-controls">
                <a class="list-btn-edit" asp-action="Edit" asp-route-id=@counter>Edit</a>
                <form class="list-btn-delete" asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
            </div>
            @{counter++;}
        </div>
    }
</div>
<div class="list-controls">
    <a class="list-btn-create" asp-action="Create">Create</a>
</div>