@model List<GiftViewModel>

@{
    ViewData["Title"] = "Gifts";
}

<h1 class="bg-red-500 text-xl">Gifts</h1>
<hr />
<div class="table w-full ">
    <div class="table-header-group">
        <div class="table-cell-bordered">Id</div>
        <div class="table-cell-bordered">Title</div>
        <div class="table-cell-bordered">Description</div>
        <div class="table-cell-bordered">Commands</div>
    </div>

    <div class="table-row-group">
        @foreach (var gift in Model)
        {
            <div class="table-row">
                <div class="table-cell-bordered">@gift.Id</div>
                <div class="table-cell-bordered">@gift.Title</div>
                <div class="table-cell-bordered">@gift.Description</div>
                <div class="table-cell-bordered">
                    <div class="inline-flex space-x-4">
                        <div class="flex">
                            <a class="btn-gray" asp-controller="Gifts" asp-action="Edit" asp-route-id=@gift.Id>Edit</a>
                        </div>
                        <div class="flex">
                            <form asp-controller="Gifts" asp-action="Delete" asp-route-id=@gift.Id method="post">
                                <button class="btn-gray">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="py-5">
    <a class="btn-gray" asp-controller="Gifts" asp-action="Create">Create</a>
</div>