<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
</head>
<body class="site-body">
    <header class="site-header" x-data="SecretSanta.setupNavList()">
        <div class="flex flex-row justify-between">
            <a class="nav-title" asp-controller="Home" asp-action="Index">Secret Santa</i></a>
            <button class="nav-burger" @@click="toggleMenu()"><i class="fas fa-bars"></i></button>
        </div>
        <nav id="navList"class="nav hidden sm:inline-block">
            <ul class="nav-list">
                <li><a class="nav-list-link" asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a class="nav-list-link" asp-controller="Groups" asp-action="Index">Groups</a></li>
                <li><a class="nav-list-link" asp-controller="Gifts" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="site-content">
        <h1 class="page-header">@ViewData["Title"]</h1>
        @RenderBody()
    </div>

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
    <!-- End Scripts -->
</body>
</html>