@model GroupViewModel

<div class="form-content">
    <div class="form-section">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-input" type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-controls">
        <button class="form-btn-save">Save</button>
        <a class="form-btn-cancel" asp-controller="Groups" asp-action="Index">Cancel</a>
    </div>
</div>
