@model GroupViewModel
@{
    ViewData["Title"] = "Group - Create";
}

<form class="form" asp-controller="Groups" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
</form>