@model GroupViewModel
@{
    ViewData["Title"] = "Group - Edit";
}


<form class="form" asp-controller="Groups" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
</form>