@model List<GroupViewModel>

@{ int index = 0;}
@foreach (var group in Model)
{
    <section>
        @group.Id - @group.GroupName <a asp-controller="Groups" asp-action="Edit" asp-route-id=@group.Id>Edit</a>
        <form asp-controller="Groups" asp-action="Delete" asp-route-id=@group.Id method="post"><button>X</button></form>
        @{ index++;}
    </section>
}
<a asp-controller="Groups" asp-action="Create">Create</a>