@model UserViewModel
@{
    ViewData["Title"] = "User - Edit";
}

<form class="form" asp-controller="Users" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
</form>