@model List<UserViewModel>
@{
    ViewData["Title"] = "Users";
}

@{int counter = 0;}

<div class="tilelist">
    @foreach (var userViewModel in Model)
    {
        <div class="tilelist-item">
            <div class="tilelist-item-label">
                <a class="" asp-action="Edit" asp-route-id=@counter>
                    @userViewModel.FullName
                </a>
            </div>
            <div class="tilelist-item-controls">
                <form class="list-btn-delete" asp-action="Delete" asp-route-id=@counter method="post">
                    <button onclick="return confirm('Are you sure you would like to delete @userViewModel.FullName ?')">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
            @{counter++;}
        </div>
    }
</div>
<div class="list-controls">
    <a class="list-btn-create" asp-action="Create">Create <i class="fas fa-plus"></i></a>
</div>
